/* Structure */
body{
    background: green;
    font-family:Arial, Helvetica, sans-serif;
}
div{
    background: white;
    padding: 5px;
    margin: 20px auto; /*auto centers the div within the body */
    width: 70%;
}


/* Typography */
h1 {
    color: red;
}
p{
    color:blue;
}