/*Structure*/
body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #f6f6f6;
}

img{
    object-fit: cover;
}

/*Header*/
#main-header{
    background-color: teal;
    color: white;
    padding: 16px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px;
    font-size: 20px;
}

#main-header #main-nav .columns{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items:center;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}

#main-header h1{
    margin: 0;
    font-size: 30px;
}

#main-header ul{
    list-style: none;
    padding: 0px;
    display: flex;
}

#main-header li{
    margin-left: 20px;
}

#main-header li a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

/*Hamburger Nav*/
#hamburger-menu{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#hamburger-menu div{
    display: block;
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    transition: 04s;
}

#main-nav.active{
    display: block;
}
/*Home Page*/
#main-content{
    margin: 0 auto;
    padding: 20px;
}

#slideshow img{
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    overflow: hidden;
}

.section{
    margin-bottom: 40px;
}

.section .flex-container{
    display: flex;
    display: inline-block;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.section h2{
    color: #333;
    margin-top: 5px;
}

.section p{
    flex: 1;
    margin-right: 10px;
}

.section img{
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

#vietnam-home img{
    padding: 20px;
}

#vietnam-home h2{
    text-align: center;
}

#vietnam-home p{
    text-align: center;
}

#popular-destinations h2{
    text-align: center;
}

#popular-destinations p{
    text-align: center;
}

#popular-destinations img{
    padding: 20px;
}

#vietnam-home {
    background-color: #d3d9d4;
}

#popular-destinations{
    background-color: #8cbdb3;
}

/*Footer*/
#footer{
    background-color: gray;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    color: black;
    height: 30px;
    padding-top: 15px;
}

/*Discover page*/
#landmark-imgs .flex-container .columns{
    display: flex;
    flex-direction: row;
}

#landmark-imgs .flex-container{
    text-align: center;
    gap: 40px;
}

#vietnam-history{
    background-color: #e6f3f5;
}

#vietnam-history img{
    padding:20px;
}

#vietnam-history h2{
    text-align: center;
}

#vietnam-history p{
    text-align: center;
}

#landmarks{
    background-color: #cce7ec;
}


#landmarks .flex-container .columns {
    width: 85%;
}

#landmarks h2{
    text-align: center;
}

#landmarks p{
    text-align: center;
}
#landmarks iframe{
    padding: 20px;
}

#landmark-imgs{
    text-align: center;
    background-color: #e6f3f5;
}

#landmark-imgs .columns{
    background-color: lightseagreen;
    border-radius: 20px;
}

#landmark-imgs .columns img{
    border-radius: 20px 20px 0px 0px;
}

/*Munchies page*/
#vietnamese-cuisine h2{
    text-align: center;
}

#vietnamese-cuisine p{
    text-align: center;
}

#vietnamese-cuisine img{
    padding: 20px;
}

#appraisal .flex-container .columns{
    width: 85%;
}

#appraisal h2{
    text-align: center;
}

#appraisal p{
    text-align: center;
}

#appraisal iframe{
    padding: 20px;
}

#food-imgs{
    padding:30px;
    text-align: center;
}

#food-imgs .columns{
    background-color: lightseagreen;
    border-radius: 20px;
}

#food-imgs .columns img{
    border-radius: 20px 20px 0px 0px;
}

#food-imgs .flex-container .columns{
    gap: 20px;
}

/*Activities page*/
#activities .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}

#activities .flex-container .columns{
    width: 80%;
}

#activities-img{
    padding: 30px;
    text-align: center;
}

#activities-img .columns{
    background-color: lightseagreen;
    border-radius: 20px;
}

#activities-img .columns img{
    border-radius: 20px 20px 0px 0px;
}

#activities-img .flex-container{
    text-align: center;
    gap: 50px;
}

/*About page*/
#main-content #story h2{
    text-align: center;
}

#main-content #story .flex-container p{
    text-align: center;
}

#contact .flex-container {
    display: flex;
    flex: 1;
}

#contact{
    margin-bottom: 15px;
}

#contact .social{
    display: flex;
}

#contact .social img{
    padding-right: 10px;
}

@media (max-width: 768px) {
    .flex-container .section .flex-container {
        flex-direction: column;
    }

    .flex-container{
        flex-direction: column;
    }

    #main-header ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #main-header li {
        margin-bottom: 10px;
    }

    .section img {
        max-width: 100%;
        margin-top: 20px;
    }

    img{
        width: 100%;
    }

    #hamburger-menu{
        display: block;
    }

    #main-nav{
        display: none;
    }

    .logo{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #contact .flex-container{
        flex-direction: column;
    }
}