body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0e0;
}

#main-header {
    background-color: lightcoral;
    padding: 0.5rem;
    text-align: center;
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border-right: 1px lightcoral;
}

#main-nav li{
    list-style: none;
    border-bottom: 0.5px solid lightcoral;
}

#main-nav a {
    text-decoration: none;
    padding: 5px;
    color:azure;
}

main {
    display: flex;
    flex: 1;
    padding: 1px;
}

.content {
    flex: 3;
    background-color: #c1e1ec;
    padding: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 5px;
}

.grid h2{
    text-align: center;
}

.grid article {
    background-color: #c1e1ec;
    padding: 5px;
}

img {
    background-color: #ffd1dc;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

aside {
    flex: 1;
    background-color: #ffd1dc;
    padding: 5px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 5px;
}

.big-ideas{
    background-color: lightcoral;
}

.big-ideas article {
    display: flex;
    margin-bottom: 0px;
}

.big-ideas h2{
    text-align: left;
    padding: 10px;
    padding-left: 55px;
}

.big-ideas h3{
    text-align: left;
}

#footer {
    background-color: lightcoral;
    color: #333;
    text-align: center;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    aside {
        width:100%;
    }
    .columns{
        display: flex;
    }
    #main-nav li{
        border-bottom: 1px solid azure;
    }
    #main-nav ul{
        flex-direction: column;
    }
    .links{
        flex:1;
    }
    .grid{
        grid-template-columns: 1frn;
    }
    #main-content{
        flex-direction: column;
    }
    .big-ideas article{
        flex-direction: column;
    }
    .big-ideas img{
        margin-bottom: 10px;
    }
}