body{
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: darkslateblue;
  text-align: center;
}
a {
  text-decoration: none;
}
.assign{
  background-color: darkgray;
  margin: 10px;
  padding: 10px;
  display: block;
  width: 20%;
  box-shadow: 8px 8px midnight blue;
  border-radius: 20px;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid midnight blue;
}
