
/* Structure */
html, body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0px;
    width: 100%;
    max-width:100%;
    line-height: 1.6;
}
#user-nav {
    padding:1px;
}
#main-header {
    background: black;
}
#logos input{
    height: 30px;
    width: 189px;
    background-color: black;
    border: 1px solid white;
}
.inline {
    display: inline-block;
    padding: 10px;
    background-color:#73000A;
}
#landing-image {
    width: 100%;
}
#educational-investment button:hover, #programs button:hover #next-step button:hover{
    background-color: white;
    color:#73000A;
    border: 2px solid #73000A;
}
#programs img{
    max-width:100%;
}
#programs {
    background: #73000A;
}
#educational-investment{
    text-align: center;
    width: 15%;
    display: inline;
    background-color: #ECECEC;
    padding: 40px;
}
#educational-investment p{
    text-align: center auto;
    color: black;
    font-size:medium;
}
#educational-investment button{
    display: block;
    margin: 0 auto;
}
#programs button {
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    width: fit-content;
}
#educational-investment button{
    background-color: #73000A;
    padding: 20px;
    width: fit-content;
    color: white;
    font-size: medium;
}
.column2 {
    padding: 15px;
    display: flex;
    margin-left: 3%;
}
#column3 {
    margin-left: 0 auto;
    margin-right: 0 auto;
    justify-content: center;
}
#paying {
    background-color: #FFFFFF;
    width: 90%;
    max-width: 100%;
}
#paying p{
    text-align: center;
    padding: 40px;
    margin: auto;
}
.paying-col:hover {
    background-color: #F0F0F0;
}
.paying-col p{
    text-align: left;
    padding-left: 0;
}
#paying .flex-container {
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    max-width: 100%;
}
#next-step{
    background-color: black;
    align-items: center;
    padding: 20px;
}
#next-step p{
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
}
#next-step button{
    background-color:#73000A ;
    border: 2px solid white;
    padding: 10px;
    font-size: 20px;
    color: white;
}
#next-step img{
    padding: 10px;
}
#main-footer {
    background:#73000A;
}
#logo-links li {
    list-style: none;
}
#link-holder {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#logo-links {
    display: flex;
    flex: 1;
    gap: 10px;
}
#link-holder li {
    list-style-type: none;
}
#bottom-bar {
    background: black;
}
#bottom-bar p {
    padding: 1px;
    position: relative;
    left: 10%;
}
/* Horizontal Navigation */
.horizontal-nav ul {
    padding-left: 0px;
}
.horizontal-nav li {
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}

/* Navigation */
#main-nav {
    text-align: center;
    background-color: #73000A;
    padding: 1px;
}
#main-nav ul {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#main-nav li {
    margin: 0 2px;
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.bold {
    font-weight: bold;
}
#user-nav {
    font-size: xx-small;
}
#label, #logos input, #user-nav a, main h1, #programs {
    color: white;
}
.horizontal-nav a {
    color: white;
    text-decoration: none;
}
#programs h1, #educational-investment h1{
    font-size: 2.0em;
}
#programs p {
    font-size: 1.1em;
}
#programs button {
    color: white;
    font-size: 1.4em;
}
#educational-investment{
    color: white;
    font-size: 1.4em;
}
#educational-investment h1, .paying-col h3, #paying h1{
    color:#73000A;
}
#paying a {
    text-decoration: none;
    color: black;
}
#paying h1 {
    font-size: 2.7em;
    font-family: serif;
    text-align: center;
}
#link-holder a {
    color: white;
    text-decoration: none;
}
#link-holder {
    color: white;
    font-weight:100;
}
#link-holder ul {
    padding: 10px;
}
.underline {
    border-bottom: 2px solid white;
}
#bottom-bar p {
    color: white;
    font-size: 10px;
}
/* Larger Resolutions */
@media only screen and (min-width:768px) {
    .horizontal-nav ul, .flex-container {
    display: flex;
    }
    #user-nav ul {
    position: relative;
    top: 0%;
    left:45%;
    }
    #main-nav li {
    flex: 1;
    }
    #logos {
    padding: 5px;
    justify-content: space-between;
    margin: 10px 0;
    box-sizing: border-box;
    }
    .padding-right{
    padding-right:20px;
    }
    #landing h1 {
    margin-top: -40px;
    margin-left: 10%;
    font-size: 3em;
    }
    #landing p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.1em;
    }
    #column {
    flex: 4;
    flex-direction: column;
    }
    #programs {
    flex: 1;
    min-width:0;
    min-height:0;
    overflow:hidden;
    }
    #column3 {
    flex:1;
    flex-direction: column;
    }
    .column2{
        flex: 1;
        flex-direction: row;
    }
    #educational-investment {
    flex: 1;
    }
    #paying .flex-container {
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    justify-content: space-between;
    }
    .paying-col {
    margin: 20px;
    }
    #logo-links {
    position: absolute;
    right: 5%;
    }
    .nextstep{
        flex: 1;
        flex-direction: column;
    }
}
